.App {
  text-align: center;
  /* background-color: black; */
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App-logo {
  height: 30vmin;
  width: 30vmin;
  pointer-events: none;
  color: white;
  filter: invert(1);
  position: sticky;
  /* width: 200px;
  height: 200px; */
}

.App-logo2 {
  height: 15vmin;
  width: 15vmin;
  pointer-events: none;
  color: white;
  filter: invert(1);
  /* position: sticky; */
  margin-bottom: 40px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

.legal {
  text-align: left;
  margin: 20px;
  min-height: 60vh;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.about {
  margin: 20px;
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.first {
  text-indent: 50px;
}

.content {
  text-align: left;
  line-height: 25px;
  font-size: 20px;
}

.footer {
  color: grey;
  font-size: 12px;
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center; 
  margin-top: 1rem;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}


.nav {
  /* width: 100%; */
  margin: 20px;
  padding: 20px;
  justify-content: center;
  align-items: center;
  position: sticky;
  background-color: black;
}

.link {
  margin: 20px;
  text-decoration: none;
  color: grey
}