.App {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.App-logo {
  height: 30vmin;
  width: 30vmin;
  pointer-events: none;
  color: white;
  filter: invert(1);
  position: sticky;
}

.App-logo2 {
  height: 15vmin;
  width: 15vmin;
  pointer-events: none;
  color: white;
  filter: invert(1);
  margin: 50px;
}

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

.App-header {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: grey;
  padding: 20px;
}

.App-link {
  color: #61dafb;
}

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
} */

.legal {
  text-align: left;
  /* margin-top: 20px; */
  margin-top: 50px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 60px;
  /* min-height: 60vh; */
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
  /* text-align: justify; */
}

.about {
  margin: 20px;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding: 20px;
}

.first {
  text-indent: 50px;
}

.content {
  text-align: left;
  line-height: 25px;
  font-size: 20px;
  text-align: justify;
  margin-bottom: 50px;
}

.footer {
  color: grey;
  font-size: 12px;
  position: fixed;
  text-align: center;
  justify-content: center;
  align-items: center; 
  padding: .5rem;
  position: fixed;
  margin: 0 auto;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: black;
}


.nav {
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  padding: 20px;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: black;
}

.link {
  margin: 20px;
  text-decoration: none;
  color: grey
}